{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div class="container col-xxl-8 px-4 py-3">
    <main>
        <div id="content">

            <div>
                <h2 class="mb-3">О нас:</h2>
                <p>
                    Компания «YellowVelo» была образована в&nbsp;ноябре 2222 года и&nbsp;успешно функционирует на&nbsp;рынке
                    велосипедов, постоянно расширяя ассортимент продукции, представленных брендов.
                </p>
                <p>
                    В любое время года в магазинах «YellowVelo» представлен широкий спектр велосипедов.
                </p>
                <p>
                    Наши консультанты регулярно повышают свою квалификацию. Все они сами катаются на&nbsp;сноубордах,
                    горных лыжах, велосипедах, участвуют в&nbsp;соревнованиях и&nbsp;разнообразных мероприятиях. Именно
                    поэтому они являются настоящими профессионалами и&nbsp;всегда готовы помочь вам правильно подобрать
                    необходимые товары и&nbsp;снаряжение. Вы&nbsp;всегда можете получить их&nbsp;квалифицированную
                    помощь и&nbsp;консультацию при покупке.
                </p>

                <p>
                </p>
                <h3>Сфера деятельности:</h3>
                продажа спортивных товаров
                <p></p>
                <br>
                <h3>Контакты:</h3>


                <p>
                </p><h5>Кемерово:</h5>
                Фактический адрес: 650066 г. Кемерово, ул. Кемеровская д. 1 ТЦ
                Кемеровский 1-й этаж <br>
                Телефоны: (3842) 22-22-22, 8(222)-222-2222 <br>
                Электронная почта: yellowvelo@mail.ru <br>
                <p></p>

                <p>

                <h3>Реквизиты:</h3>
                <p>
                    ИП Велосипедов В.В. <br>
                    ИНН 7772222222 / ОГРНИП 1072222222222. <br>
                    Юридический адрес: 630040, Кемеровская обл., г. Кемерово, ул. Кемеровская д. 1 <br>
                    Тел./факс: (222) 222-22-22, (3842) 22-22-22. <br>
                    р/с 222&nbsp;222&nbsp;222&nbsp;222&nbsp;000 02022 <br>
                    к/с 222&nbsp;222&nbsp;222&nbsp;000&nbsp;000 00222 <br>
                    СИБИРСКИЙ Ф-Л ПАО ПРОМСВЯЗЬБАНК Г.НОВОСИБИРСК <br>
                    ИНН 422000186786 / БИК 045004816 <br>
                    ОКВЭД 47.64 / ОКПО 0189039426 <br>
                    ОКТМО 50701000 / ОКОГУ 4210015 <br>
                    ОГРНИП 313547609800133<br>
                </p>
            </div>
        </div>
    </main>
</div>
{% endblock content %}