{% extends 'shop/base.html' %}
{% load static %}

{% block additional_css %}
<link href="{% static '/shop/css/index.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock additional_css %}

{% block content %}
<div class="container">
    <main>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mb-3 text-center">
            {% for category in categories %}
            <div class="col col-hover category-wrap">
                <div class="card mb-4 rounded-3 shadow-sm category-wrap-inside">
                    <div class="card-body">
                        <a href="{% url 'shop:show_category' category.slug %}" class="text-decoration-none"
                           tabindex="-1" aria-disabled="true">
                            <h3 class="text-muted fw-light text-uppercase">{{ category.name }}</h3>
                            <!--                        <img class="card-img-top img-overlay category-image" src="https://w7.pngwing.com/pngs/968/879/png-transparent-electric-bicycle-mountain-bike-cross-country-cycling-bikes-bicycle-frame-bicycle-hybrid-bicycle.png">-->
                            <img class="card-img-top img-overlay category-image" src="{{ category.image.url }}">
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row mb-3">
            <hr>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
            {% for cycle in cycles %}
            <div class="col">
                <div class="card h-80 cycle-wrap-inside">
                    <div class="scaler p-1">
                        <a href="{% url 'shop:show_cycle' cycle.slug %}" class="link-secondary"><img
                                class="card-img-top img-overlay my-img-cycle" src="{{ cycle.image.url }}"></a>

                    </div>
                    <div class="card-body">
                        <h6 class="card-title text-center img-title">{{ cycle.title }}</h6>

                    </div>
                    <div class="card-footer d-flex justify-content-between p-2">
                        <div class="d-flex flex-column">
                            <h6 class="text-muted">Цена:&nbsp</h6>
                            <h6> {{ cycle.price }} ₽.</h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-between ">

                            <!--                            <form action="{% url 'cart:cart_add' cycle.slug %}"  method="post">-->
                            <!--                            {{ cart_product_form }}-->
                            <!--                            {% csrf_token %}-->
                            <!--                            <input type="submit" class="btn btn-outline-dark me-2 btn-md" value="В корзину">-->
                            <!--                            </form>-->
                            <a href="{% url 'shop:show_cycle' cycle.slug %}">
                                <button type="button" class="btn btn-outline-dark me-2 btn-md">Подробнее</button>
                            </a>
                            <form action="{% url 'cart:cart_buy' cycle.slug %}" method="post">
                                {{ cart_product_form }}
                                {% csrf_token %}
                                <input type="submit" class="btn btn-warning btn-md" value="В корзину">
                            </form>
                            <!--                            <a href="#">-->
                            <!--                                <button type="button" class="btn btn-outline-dark me-2 btn-md">В корзину</button>-->
                            <!--                            </a>-->
                            <!--                            <a href="#">-->
                            <!--                                <button type="button" class="btn btn-warning btn-md">Купить</button>-->
                            <!--                            </a>-->

                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <h2 class="text-nowrap">Пока ни одного велосипеда в продаже :*(</h2>
            {% endfor %}

        </div>
        {% if page_obj.has_other_pages %}
        <div class="btn-toolbar justify-content-center mt-5" role="toolbar" aria-label="Page navigation">
            <div class="pagination btn-group btn-group-md" role="group" aria-label="First group">
                {% if page_obj.has_previous %}
                <a class="btn btn-outline-secondary" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                {% else %}
                <a class="btn btn-outline-secondary disabled">Предыдущая</a>

                {% endif %}

                {% for page in paginator.page_range %}
                {% if page_obj.number == page %}
                <a class="btn btn-warning" href="?page={{page}}">{{ page }}</a>
                {% elif page >= page_obj.number|add:-2 and page < page_obj.number|add:2 %}
                <a class="btn btn-outline-secondary" href="?page={{page}}">{{ page }}</a>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <a class="btn btn-outline-secondary " href="?page={{ page_obj.next_page_number }}">Следующая</a>
                {% else %}
                <a class="btn btn-outline-secondary disabled">Следующая</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </main>

    </div>
    {% endblock content %}