{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div class="container col-xxl-8 px-4 py-3">
    <main>
        <div id="content" class="text-page" style="margin-left: 0px;">
            <div>
                    <h2>Оплата и доставка</h2>
            </div>
            <div id="content_top" class="block">
            </div>
            <div class="text-page-line"></div>
            <div class="middle">
                <div>
                    <p>Оплата выбранного вами товара в нашем интернет магазине YellowVelo&nbsp;может
                        осуществиться разными способами.</p>

                    <p>1. <em><strong>Первый вариант оплаты</strong></em> –&nbsp;<strong>оплата в нашем магазине при
                        самовывозе</strong> (вариант для жителей Кемерово&nbsp;и Кемеровской области).</p>

                    <p>В данном случае вы можете оплатить выбранный товар&nbsp;<strong>наличными или пластиковой
                        картой</strong>, а также&nbsp;<strong>в кредит</strong>, предоставляемый банком.</p>

                    <p>Схема осуществления покупки в нашем интернет магазине YellowVelo при заборе товара
                        самовывозом</p>

                    <ul>
                        <li><em>вы выбираете понравившийся велосипед.</em></li>
                        <li><em>связываетесь с нашим менеджером по телефону </em>8-222-222-2222
                        </li>
                        <li><em>с вами связывается наш менеджер, консультирует вас по всем возникшим вопросам,
                            касательно данного товара. Помогает выбрать размер рамы, расцветку при наличие разных
                            вариантов исполнения. А также консультирует по всем остальным вопросам.</em></li>
                        <li><em>мы бронируем выбранный вами товар.</em></li>
                        <li><em>вы приезжаете в наш магазин по адресу г. Кемерово&nbsp;</em>ул. Кемеровская д. 1 ТЦ
                            Кемеровский 1-й этаж<em>, оплачиваете покупку и забираете Ваш велосипед.</em></li>
                    </ul>

                    <p>2. <strong>Второй вариант оплаты</strong>&nbsp;–&nbsp;<strong>оплата
                        дистанционно</strong>, <strong>доставка</strong> товара <strong>почтой</strong> или <strong>транспортной
                        компанией</strong> (вариант для жителей других регионов России).</p>

                    <p>В данном случае вы можете оплатить выбранный товар &nbsp;<strong>онлайн</strong>.</p>

                    <p>Схема осуществления покупки в нашем интернет магазине YellowVelo с доставкой в регионы.</p>

                    <ul>
                        <li><em>вы выбираете понравившийся велосипед или другой товар .</em></li>
                        <li><em>осуществляете покупку на нашем сайте </em></li>
                        <li><em>с вами связывается наш менеджер, консультирует вас по всем возникшим вопросам,
                            касательно данного товара. А также консультирует по всем остальным вопросам.</em></li>
                        <li><em>мы бронируем выбранный вами товар.</em></li>
                        <li><em>выписываем счет для оплаты в банке, либо сообщаем реквизиты банковской карты для
                            перевода, как только вы осуществите оплату мы высылаем товар в ближайший к вам офис
                            транспортной компании или отделение почты России.</em>
                        </li>
                        <li><em>в случае возникновения трудностей вы можете позвонить по телефону </em>8-222-222-2222</li>
                    </ul>
                </div>
            </div>

            <div class="bottom">
                <div class="left"></div>
                <div class="right"></div>
                <div class="center"></div>
            </div>
            <div id="content_bottom" class="block">
            </div>
        </div>
        <div>
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab0142790d1d87e9a3e22c013ffae23e9dcdb91fbba194d9571caeb20cf9089d2&amp;source=constructor" width="960" height="400" frameborder="0"></iframe>
        </div>
    </main>
</div>
{% endblock content %}